<script src="https://registry.npmmirror.com/pjax/latest/files/pjax.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var pjax = new Pjax({
            selectors: ["title", "#pjax-container"],
            cacheBust: false
        });

        document.addEventListener('pjax:complete', function () {
            // Reinitialize scripts or styles after Pjax load
            if (typeof initDarkMode === 'function') initDarkMode();
            if (typeof initCodeHighlight === 'function') initCodeHighlight();
        });
    });
</script>