<div id="caution">
  <div id="caution-bg">
    <p>このWebサイトは18歳未満の方には有害な情報を含んでおります。</p>
    <p></p>
    <p>あなたは18歳以上ですか？</p>

    <div class="btn-wrap">
      <div class="btn-yes">
        <img
          src="https://www.yuzu-soft.com/images/top/caution_yes.png"
          alt="はい"
        />
      </div>
      <div class="btn-no">
        <img
          src="https://www.yuzu-soft.com/images/top/caution_no.png"
          alt="いいえ"
        />
      </div>
    </div>
  </div>
</div>
