{{ define "main" }}
<article class="article-main">
  <h1>
    <i class="fas fa-hashtag"></i>&nbsp;{{ .Title }}<sup
      ><span id="busuanzi_value_page_pv">null</span></sup
    >
  </h1>
  <div class="content dls" id="content">{{ .Content }}</div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      fetchDLS();
    });
    document.addEventListener("pjax:complete", () => {
      fetchDLS();
    });

    function fetchDLS() {
      const jsonUrl =
        "https://ghfast.top/https://raw.githubusercontent.com/AdingApkgg/vns/refs/heads/dev/data/dls.json";

      fetch(jsonUrl)
        .then((response) => {
          if (!response.ok) {
            throw new Error("网络响应失败");
          }
          return response.json();
        })
        .then((data) => {
          const contentDiv = document.getElementById("content");
          contentDiv.innerHTML = "";
          data.forEach((item) => {
            const itemDiv = document.createElement("div");
            itemDiv.className = "item";

            const cover = document.createElement("img");
            cover.className = "cover";
            cover.src = item.cover;
            cover.alt = item.title;
            cover.title = item.title;
            cover.loading = "lazy";
            itemDiv.appendChild(cover);

            const title = document.createElement("h2");
            title.className = "title";
            title.textContent = item.title;
            itemDiv.appendChild(title);

            const company = document.createElement("span");
            company.className = "company";
            company.textContent = item.company;
            itemDiv.appendChild(company);

            const platforms = document.createElement("p");
            platforms.className = "platforms";
            platforms.textContent = `${item.platforms.join("、")}`;
            itemDiv.appendChild(platforms);

            const downloads = document.createElement("p");
            downloads.className = "downloads";
            item.downloads.forEach((download) => {
              const button = document.createElement("button");
              button.className = "download-button";
              button.textContent = `${download.provider}`;
              button.onclick = () => window.open(download.url, "_blank");
              downloads.appendChild(button);
            });
            itemDiv.appendChild(downloads);

            const author = document.createElement("span");
            author.className = "author";
            author.textContent = `编辑者：${item.author}`;
            itemDiv.appendChild(author);

            contentDiv.appendChild(itemDiv);
          });
        })
        .catch((error) => {
          console.error("获取数据失败:", error);
          document.getElementById("content").textContent =
            "加载数据失败，请稍后重试。";
        });
    }
  </script>
</article>
{{ end }}
