{{ define "main" }}
<link rel="stylesheet" href="/pagefind/pagefind-ui.css" importance="high" />
<script src="/pagefind/pagefind-ui.js" importance="high"></script>
<article class="article-main">
    <style>
    </style>
    <h1><i class="fas fa-hashtag"></i>&nbsp;{{ .Title }}</h1>
    <div class="content">{{ .Content }}</div>
    <div id="search"></div>
    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            initSearch();
        });
        document.addEventListener("pjax:complete", () => {
            initSearch();
        });
        function initSearch() {
            document.querySelector("#search").innerHTML = "";
            new PagefindUI({ element: "#search", showSubResults: true });
        }
    </script>
</article>
{{ end }}