<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  <link rel="stylesheet"
    href="https://registry.npmmirror.com/@highlightjs/cdn-assets/latest/files/styles/github-dark.min.css">
    <script async src="https://registry.npmmirror.com/pangu/latest/files/dist/browser/pangu.min.js"></script>
</head>

<body>
  {{ partial "header.html" . }}

  <main id="pjax-container">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}

  {{ partial "pjax.html" . }}

  <script async src="{{ "js/main.js" | relURL }}"></script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/js/sw.js')
        .then(function (registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        })
        .catch(function (err) {
          console.log('ServiceWorker registration failed: ', err);
        });
    }
  </script>
</body>

</html>