<link rel="stylesheet" href="https://registry.npmmirror.com/weblive2d/latest/files/waifu.css">
  <script async="async" src="https://registry.npmmirror.com/weblive2d/latest/files/js/autoload.js"></script>
  <script>
    if (window.localStorage.getItem("fpson") == undefined || window.localStorage.getItem("fpson") == "1") {
      var rAF = (function () {
        return(window.requestAnimationFrame || window.webkitRequestAnimationFrame || function (callback) {
          window.setTimeout(callback, 1000 / 60);
        });
      })();
      var frame = 0;
      var allFrameCount = 0;
      var lastTime = Date.now();
      var lastFameTime = Date.now();
      var loop = function () {
        var now = Date.now();
        var fs = now - lastFameTime;
        var fps = Math.round(1000 / fs);
        lastFameTime = now;
        allFrameCount++;
        frame++;
        if (now > 1000 + lastTime) {
          var fps = Math.round((frame * 1000) / (now - lastTime));
          if (fps <= 5) {
            var kd = `<span style="color:#bd0000">卡成ppt🤢</span>`;
          } else if (fps <= 15) {
            var kd = `<span style="color:red">电竞级帧率😖</span>`;
          } else if (fps <= 25) {
            var kd = `<span style="color:orange">有点难受😨</span>`;
          } else if (fps < 35) {
            var kd = `<span style="color:#9338e6">不太流畅🙄</span>`;
          } else if (fps <= 45) {
            var kd = `<span style="color:#08b7e4">还不错哦😁</span>`;
          } else {
            var kd = `<span style="color:#39c5bb">十分流畅🤣</span>`;
          }
          document.getElementById("fps").innerHTML = `FPS:${fps} ${kd}`;
          frame = 0;
          lastTime = now;
        }
        rAF(loop);
      };
      loop();
    } else {
      document.getElementById("fps").style = "display:none!important";
    }
    const observer = new MutationObserver(function (mutations) {
      const lrcButton = document.querySelector(".aplayer-icon-lrc");
      if (lrcButton) {
        setTimeout(function () {
          lrcButton.click();
        }, 1);
        observer.disconnect();
      }
    });
    observer.observe(document, {
      childList: true,
      subtree: true
    });
    var meting_api = 'https://meting.qjqq.cn/?server=:server&type=:type&id=:id&auth=:auth&r=:r';
    function initializeRuntimeCounter() {
      const start = new Date("2024/01/27 21:52:00");
      function update() {
        const now = new Date();
        now.setTime(now.getTime() + 250);
        const days = (now - start) / 1000 / 60 / 60 / 24;
        const dnum = Math.floor(days);
        const hours = (now - start) / 1000 / 60 / 60 - 24 * dnum;
        const hnum = Math
          .floor(hours)
          .toString()
          .padStart(2, '0');
        const minutes = (now - start) / 1000 / 60 - 24 * 60 * dnum - 60 * hnum;
        const mnum = Math
          .floor(minutes)
          .toString()
          .padStart(2, '0');
        const seconds = (now - start) / 1000 - 24 * 60 * 60 * dnum - 60 * 60 * hnum - 60 * mnum;
        const snum = Math
          .round(seconds)
          .toString()
          .padStart(2, '0');
        document.getElementById("timeDate").innerHTML = "距今已艰难运行了&nbsp" + dnum + "&nbsp天&nbsp";
        document.getElementById("times").innerHTML = hnum + "&nbsp小时&nbsp" + mnum + "&nbsp分&nbsp" + snum + "&nbsp秒";
      }
      update();
      setInterval(update, 1000);
    }
    document.addEventListener("DOMContentLoaded", initializeRuntimeCounter);
    document.addEventListener("pjax:complete", initializeRuntimeCounter);
    const copyrightAuthor = document.querySelector(".copyright").querySelector(".author");
    copyrightAuthor.addEventListener("click", (event) => {
      window.open("https://ciallo.cc/");
    });
    copyrightAuthor.addEventListener("mouseover", (event) => {
      copyrightAuthor.style.textDecoration = "underline";
      copyrightAuthor.style.cursor = "pointer";
    });
    copyrightAuthor.addEventListener("mouseout", (event) => {
      copyrightAuthor.style.textDecoration = "none";
    });
  </script>
  <span id="fps"></span>
  <link rel="stylesheet" href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/aplayer/1.10.1/APlayer.min.css">
    <meting-js
      id="8464409595"
      server="netease"
      type="playlist"
      fixed="true"
      autoplay="false"
      order="random"
      volume="0.3"
      list-folded="false"
      list-max-height="36vh"></meting-js>
    <script async="async" src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/aplayer/1.10.1/APlayer.min.js"></script>
    <script async="async" src="https://registry.npmmirror.com/meting/latest/files/dist/Meting.min.js"></script>